/* paging */
.paging{
  margin-bottom: 36px;
}
.paging-inner{
  display: flex;
  justify-content: center;
  align-items: center;
}
.paging-box.interview-paging-box{
  width: 800px;
}
.paging-box{
  width: 100%;
}
.paging-box.interview-paging-box,
.paging-box{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.paging-box li{
  width: 34px;
  height: 34px;
}
.paging-box li a{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
.paging-list.active{
  border-radius: 50%;
  background-color: var(--primary-800);
  color: var(--white);
}
/* serach-box */
.interview-search-input-box input[type=submit],
.search-support-input-box input[type=submit]{
  width: 20%;
  background-color: var(--primary-600);
  color: var(--white);  
  height: 44px;
  transition: .4s;
  border-radius: 0 8px 8px 0;
}
.interview-search-input-box input[type=submit]:hover,
.search-support-input-box input[type=submit]:hover{
  background-color: var(--primary-800);
}
.interview-search-input-box input[type=text],
.search-support-input-box input[type=text]{
  border: 1px solid var(--primary-600);
  padding: 12px;
  padding-left: 40px;
  width: 80%;
  height: 44px;
  border-radius: 8px 0 0 8px;
  font-size: var(--body-md-16);
}
.interview-search-input-box input[type=text]::placeholder,
.search-support-input-box input[type=text]::placeholder{
  transition: 0.4s;
  color: var(--neutral-600);
  font-size: var(--body-md-16);
  transform: translateY(1px);
}
.interview-search-input-box input[type=text]:focus::placeholder,
.search-support-input-box input[type=text]:focus::placeholder{
  opacity: 0;
}
.interview-search-input-box img,
.search-support-input-box img{
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  filter: invert(55%) sepia(97%) saturate(7498%) hue-rotate(197deg) brightness(98%) contrast(99%);
}